{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">DocConnect</h1>
      <p>“Doc Connect” is a platform that makes a speciality of connecting sufferers with docs for appointments, it implies a continuing connection between the two events, making it smooth for patients to locate and book appointments with their desired medical practitioners. Which permits sufferers to book on-line appointments with medical doctors and behavior video calls, as well as purchase medicine on-line, is a complete solution for healthcare wishes. By providing each appointment reserving and video name competencies, we're making it convenient for patients to get entry to scientific consultations from the consolation in their personal houses. The ability to buy medicinal drug online in addition streamlines the healthcare enjoy and saves sufferers effort and time in touring to a physical pharmacy</p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Appointment</h2>
        <p>Online medicine delivery: Your app will offer an online medicine delivery feature, which can increase accessibility to medicine for people who may have mobility or transportation challenges, or live in remote or underserved areas. This can improve health outcomes and reduce the cost of healthcare by making it easier for people to access the care they need.</p>
        
      </div>
      <div class="col-md-4">
        <h2>Video Call</h2>
        <p> we have developed a video name function in our mission where an affected person have the ability to pick the form of doctor they need to have a verbal exchange with. This may want to encompass deciding on a consultant in a specific area of drugs, inclusive of cardiology or dermatology. Once the affected person has decided on the type of physician they need to look, they could then pick an available time slot for their appointment. This lets in the affected person to timetable their consultation at a time this is convenient for them and suits into their timetable.
          . </p>
        
      </div>
      <div class="col-md-4">
        <h2>Chatbot</h2>
        <p>A chatbot is a laptop application that makes use of artificial intelligence to simulate verbal exchange with human users. Chatbots can be included into web sites, cell apps, and messaging systems to provide users with on the spot and personalised help. In the context of our assignment, a chatbot can be used to provide users with quick and convenient get admission to to information and help. For example, the chatbot could answer often asked questions, provide facts approximately your products or services, and help users navigate our website or app.</p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
